body {
    background-image: url('./imgs/alpy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeIn ease 1.5s
}

.greeting {
    animation: fadeIn ease 3s
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.App {
    height: 100vh;
    width: 100vw;
}

.emptyDiv {
    height: 50px;
    width: 100%;
}

.navbar {
    display: flex;
    position: fixed;
    background-color: rgb(168, 168, 168, 0.35);
    width: 100%;
    height: 50px;
}

.navbar .leftNav {
    flex: 25%; 
}

.navbar .rightNav {
    flex: 25%;
}

.navbar .middleNav {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .middleNav .links {
    max-height: 50px;
}

.navbar .middleNav .links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-left: 15px;
    padding: 10px;
}

.navbar .middleNav a:hover {
    background-color: rgb(168, 168, 168);
}

.headerDiv {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.emptyNav {
    height: 4vh;
    width: 25%;
}

.projectsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projectContentDiv {
    background-color: rgb(216, 216, 216,);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 105vh;
    width: 100%;
    color: white;
}

.homepageContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 90vh;
}
.homepageContentDiv h2{
    padding: 30px;
}

.homeMiddle {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homeBody {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contactDiv {
    height: 100vh;
}
.contactBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
}

.contactBody p {
    padding: 20px;
}

.emailDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.emailForm {
    display: flex;
    flex-direction: column;
    width: 50%
}

.projectContentDiv p {
    padding: 20px;
}

.slider {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 150px;
    width: 200px;
    border-radius: 10px;
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: -50px;
    font-size: 2rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.leftArrow {
    position: absolute;
    top: 50%;
    left: -50px;
    font-size: 2rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
   position: relative;
   opacity: 0;
   transition-duration: 1s ease;
   text-align: center;
}

.slide.active {
    position: relative;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08)
}

.slide.active:hover {
    opacity: 75%;
}

.icon {
    height: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

.icon:hover {
    background-color: rgb(168, 168, 168);
}

.footerText {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    width: 100%;
    color: white;
    background-color: rgb(168, 168, 168, 0.35);
}

@media screen and (min-width: 600px) {
    
}